---
import fscrobbleLogo from "../assets/fscrobble-v0.0.2.png";
import "../assets/css/styles.css";
const ConfigurationDocs = "https://github.com/alibaghernejad/fscrobble/blob/main/docs/configuration.md"
const FscrobbleGithubUrl = "https://github.com/alibaghernejad/fscrobble"
const FscrobbleRedditUrl = "https://www.reddit.com/r/fscrobble/"
const FscrobbleManualUrl = "https://github.com/alibaghernejad/fscrobble/tree/main/docs/"

---

<div class="header__headline">
  <h1>FScrobble</h1>
  <p>A Music Scrobbling Service for Linux and MPRIS, written in F# and .NET</p>
</div>

<div class="header__command command command--copy">
  <pre><code>wget -qO- https://raw.githubusercontent.com/alibaghernejad/FScrobble/main/scripts/fscrobble-install.sh | bash</code></pre>
  <button aria-label="Copy the FScrobble install command"></button>
</div>

<div class="header__buttons">
  <a
    class="button"
    href={FscrobbleGithubUrl}
    aria-label="See the code"
  >
    <svg
      fill="none"
      height="32"
      viewBox="0 0 32 32"
      width="32"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="m16 0c8.84 0 16 7.16 16 16-.0009 3.3524-1.053 6.6201-3.0083 9.3432-1.9553 2.7232-4.7154 4.7645-7.8917 5.8368-.8.16-1.1-.34-1.1-.76 0-.54.02-2.26.02-4.4 0-1.5-.5-2.46-1.08-2.96 3.56-.4 7.3-1.76 7.3-7.9 0-1.76-.62-3.18-1.64-4.3.16-.4.72-2.04-.16-4.24 0 0-1.34-.44-4.4 1.64-1.28-.36-2.64-.54-4-.54s-2.72.18-4 .54c-3.06-2.06-4.4-1.64-4.4-1.64-.88 2.2-.32 3.84-.16 4.24-1.02 1.12-1.64 2.56-1.64 4.3 0 6.12 3.72 7.5 7.28 7.9-.46.4-.88 1.1-1.02 2.14-.92.42-3.22 1.1-4.66-1.32-.3-.48-1.2-1.66-2.46-1.64-1.34.02-.54.76.02 1.06.68.38 1.46 1.8 1.64 2.26.32.9 1.36 2.62 5.38 1.88 0 1.34.02 2.6.02 2.98 0 .42-.3.9-1.1.76-3.18672-1.0607-5.95853-3.098-7.92222-5.8227-1.96369-2.7248-3.01954096-5.9987-3.0177778-9.3573 0-8.84 7.1599978-16 15.9999978-16z"
        fill="currentColor"></path></svg
    >
    <span>GitHub</span>
  </a>
  <a
    class="button"
    href={FscrobbleRedditUrl}
    aria-label="r/fscrobble subreddit"
  >
    <svg
      fill="none"
      height="32"
      viewBox="0 0 32 32"
      width="32"
      xmlns="http://www.w3.org/2000/svg"
      ><g fill="currentColor"
        ><path
          d="m11.0713 15.4338c-1.0463 0-1.9463 1.04-2.0088 2.395s.85375 1.9062 1.9013 1.9062c1.0475 0 1.8287-.4925 1.8912-1.8475s-.7375-2.4537-1.7837-2.4537z"
        ></path><path
          d="m22.9538 17.8288c-.0613-1.355-.9613-2.395-2.0088-2.395s-1.8462 1.0987-1.7837 2.4537c.0625 1.3563.845 1.8475 1.8912 1.8475 1.0463 0 1.9638-.5512 1.9013-1.9062z"
        ></path><path
          d="m19.945 21.37c.0763-.1825-.0487-.3862-.245-.4062-1.1512-.1163-2.3937-.18-3.6925-.18-1.2987 0-2.5425.0637-3.6925.18-.1962.02-.3212.2237-.245.4062.645 1.5388 2.1638 2.62 3.9375 2.62 1.7738 0 3.2938-1.0812 3.9375-2.62z"
        ></path><path
          clip-rule="evenodd"
          d="m0 16c0-8.83625 7.16375-16 16-16 8.8363 0 16 7.16375 16 16 0 8.8363-7.1637 16-16 16h-13.6825c-.855 0-1.28375-1.0338-.67875-1.6388l3.0475-3.0475c-2.895-2.895-4.68625-6.8949-4.68625-11.3137zm21.85-6.40248c-1.2612 0-2.3175-.87626-2.595-2.05251v.0025c-1.53.21625-2.71 1.53375-2.71 3.12129v.01c2.3688.0887 4.5338.7562 6.2488 1.8175.63-.485 1.4187-.7738 2.275-.7738 2.0637 0 3.7362 1.6725 3.7362 3.7363 0 1.4887-.8725 2.775-2.1337 3.375-.1175 4.3412-4.85 7.8337-10.6638 7.8337-5.8137 0-10.54-3.4887-10.66375-7.8262-1.27125-.5963-2.15125-1.8863-2.15125-3.3838 0-2.0637 1.6725-3.7362 3.73625-3.7362.86 0 1.6525.2912 2.28375.78 1.7-1.0538 3.8413-1.7213 6.1863-1.82v-.0138c0-2.21624 1.6837-4.04499 3.84-4.27624.25-1.21374 1.3237-2.12625 2.6112-2.12625 1.4725 0 2.6663 1.19376 2.6663 2.66625 0 1.4725-1.1938 2.66626-2.6663 2.66626z"
          fill-rule="evenodd"></path></g
      ></svg
    >
    <span>Reddit</span>
  </a>
  <a
    class="button"
    href={FscrobbleManualUrl}
    aria-label="Read the manual"
  >
    <svg
      fill="none"
      height="32"
      viewBox="0 0 32 32"
      width="32"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="m0 4.49992c0-.3978.158025-.77931.439312-1.0606s.662798-.43931 1.060598-.43931h8.50549c2.4538 0 4.6337 1.17992 5.9996 3.00181.6982-.9334 1.6047-1.69085 2.6474-2.212 1.0426-.52115 2.1926-.7916 3.3582-.78981h8.4895c.3978 0 .7793.15802 1.0606.43931s.4393.6628.4393 1.0606v20.99868c0 .3978-.158.7793-.4393 1.0606s-.6628.4393-1.0606.4393h-9.0134c-.591 0-1.1761.1164-1.722.3425-.546.2261-1.042.5576-1.4598.9754l-1.244 1.2419c-.2812.2809-.6624.4387-1.0599.4387s-.7787-.1578-1.0599-.4387l-1.244-1.2419c-.4178-.4178-.9138-.7493-1.4598-.9754-.5459-.2261-1.131-.3425-1.722-.3425h-9.01539c-.3978 0-.779311-.158-1.060598-.4393s-.439312-.6628-.439312-1.0606zm14.5011 20.64668.008-10.1453-.004-4.5058c-.0011-1.19267-.4756-2.33616-1.3194-3.17916-.8437-.84299-1.9876-1.31652-3.1803-1.31652h-7.00559v17.99888h7.51349c1.4108-.0001 2.793.3978 3.9878 1.1479zm3.0078-14.6471-.008 14.6431c1.1942-.7477 2.5748-1.1442 3.9838-1.1439h7.5135v-17.99888h-6.9896c-1.1934 0-2.3379.47408-3.1818 1.31794-.8438.84386-1.3179 1.98838-1.3179 3.18174z"
        fill="currentColor"></path></svg
    >
    <span>Manual</span>
  </a>
</div>

<div class="video">
  <video
    data-event="Omakub Setup"
    poster={fscrobbleLogo.src}
    src="https://d2biiyjlsh52uh.cloudfront.net/omakub/omakub.mp4"
    preload="metadata"
    crossorigin=""
    playsinline=""
  >
    <track
      src="https://d2biiyjlsh52uh.cloudfront.net/omakub/omakub-en.vtt"
      kind="captions"
      label="English"
      srclang="en"
      default=""
    />
  </video>
  <!-- <img src={fscrobbleLogo.src} alt="Background Video" /> -->
  <button aria-label="Omakub Setup"></button>
</div>

<article class="article">
  <h2>Features</h2>
  <p>
    FScrobble aims to be a simple, reliable and efficient <em>D-Bus and MPRIS</em> music
    scrobbler service, allowing users to <em>track</em> their <em>music listening habits</em> by
    automatically submitting track information to Allowed servers.
  </p>
  <ul>
    <li>
      🎵 Real-time Scrobbling: Automatically track your music listening
      habits.
    </li>
    <li>
      🔗 Last.fm Integration: Connect your Last.fm account effortlessly.
    </li>
    <li>
      ⚡ Lightweight and Fast: Built with F# for performance, simplicity
      and readability.
    </li>
    <li>
      🖥️ D-Bus and MPRIS-Compatible: Fully compatible with standard
      media players like Musikcube, YouTube Music, and others on Linux.
    </li>
  </ul>

  <h2>Privacy First Design</h2>

  <p>
    FScrobble <em>does not</em> automatically <em>scrobble</em> musics for <em
      >all MPRIS-compatible media players</em
    > on your system. This is a deliberate <em>design</em> choice <em
      >to protect your privacy</em
    >. It is strongly recommended to explicitly allow only the media players you
    trust. Additionally, FScrobble provides the flexibility to <a href={ConfigurationDocs}>define metadata
    rules</a> for each allowed media player, enabling fine-grained control over what
    gets scrobbled.
  </p>

  <h2>Why F# and .NET?</h2>
  <p>
    To be honest, this is a side project—a hobby. While listening to <a
      href="https://en.wikipedia.org/wiki/Udo_Lindenberg">[Udo Lindenberg]</a
    > and <a href="https://en.wikipedia.org/wiki/Bruce_Springsteen"
      >[Bruce Springsteen]</a
    >'s <em>catchy songs</em>, I felt the need to track my <em
      >music listening habits</em
    > and came up with the idea of writing my own script using MPRIS. Of course,
    there are other great services that can do this, but I wanted full control over
    the data being transmitted to the provided servers. Additionally, working with
    the <em>F# ecosystem</em> and its unique approach to software development—which combines
    <em>functional programming with .NET</em>—was a fantastic experience. The seamless improvements
    in <em>performance, security, and features</em> in recent .NET versions made it even better.
    It's not just about F#. It's about exploring alternative approaches to software
    development, where the resulting product is <em>efficient</em>, <em>
      easier to develop, deploy,
      and maintain
    </em>.
  </p>

  <h2>Read More...</h2>
  <p>
    Discover <em>more</em> about FScrobble and its features on <a href="https://github.com/alibaghernejad/fscrobble">GitHub page</a>.
  </p>
  <h2>Get Involved</h2>
  <p>
    If you have any <em>feedback</em> or want to <em>contribute</em> to the project, feel free to reach out via <a href="https://github.com/alibaghernejad/fscrobble/issues">issues page</a>.
  </p>
</article>
